<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Gester</title>

        <link rel="stylesheet" href="static/css/index.css">

        <script defer src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.min.js"></script>
        <script defer src="/static/js/index.js" ></script>
    </head>
    <body>
        <canvas id="mouse" width=1000 height=1000></canvas>
        <input id="text" type=text>
        <button id="send">Send</button>
        <button id="backspace">⇦</button>
        <button id="cut">Cut</button>
        <button id="copy">Copy</button>
        <button id="paste">Paste</button>
        <button id="undo">Undo</button>
        <button id="enter">Enter</button>
    </body>
</html>